body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}
#bg-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #df9d17;
}

.box-login{
    width: 350px;
    min-height: 200px;
    border: 1px solid #e9aaaa;
    background-color:rgb(22, 179, 116);
    padding: 15px;
    box-sizing: border-box;
}
.box-login h2{
    text-align: center;
    margin-bottom: 15px;
}
.btn-login{
    padding: 8px 15px;
    background-color:rgb(212, 187, 117);
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: large;
}
.btn-login:hover {
    background-color:rgb(50, 200, 205);
}
.input-control{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.input-data{
    width: 80%;
    box-sizing: border-box;
}
aside {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ecc36b;
}

header {
    text-align: center;
    padding: 20px 0;
}

.brand {
    width: 200px;
}

.user {
    font-weight: bold;
    padding-top: 10px;
}

main {
    margin-left: 210px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    padding: 10px 20px;
    margin: 5px 0 5px 0;
    display: block;
    color: #000000;
}

nav a:hover {
    background-color: #db1620;
}

nav .icon {
    width: 25px;
    float: left;
    padding-right: 10px;
}

.info {
    background-color: #ecc36b;
    padding: 20px;
    margin-top: 10px;
}

table {
    margin: 15px 0;
    border: 1px solid #db9f9f;
    border-collapse: collapse;
    width: 75%;
}

table th {
    border: 1px solid #a0dbe5;
    padding: 8px;
    background-color: #ecc36b;
}

table tr td {
    border: 1px solid #e0b9b9;
    padding: 8px;
    text-align: center;
}

.btn {
    background-color: #ecc36b;
    border-radius: 4px;
    color: #101010;
    padding: 5px;
}

.btn:hover {
    background-color: #d33c16;
}

footer {
    position: fixed;
    bottom: 0px;
    padding: 20px 0 20px 10px;
    background-color: #ecc36b;
    width: 100%;
    border-top: 1px solid #d379a0;
}